/* global css */
body {
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  margin:0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

hr{
  height:2px;
  background-color: rgb(170, 64, 82);
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  padding-bottom: 0px;
}

/*header css*/
#header {
  background: rgb(206, 158, 158);
}

#header h1 {
  font-size: 35px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#header h2 {
  font-size: 25px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#navbar ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#navbar li {
  display: inline;
  padding-right:15px;
}

#navbar a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

/*intro css*/
.intro_image {
  margin-bottom: 5px;
}

.intro_para {
  margin-top: 0px;
}

/*about css */
.tech_heading {
  font-weight: 1000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.about_list li {
  font-family: 'Montserrat', sans-serif;
}

/*portfolio css */
#portfolio ul {
  list-style: none;
}

#portfolio h4 {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.link_list {
  padding-left: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.link_list a {
  text-decoration: none;
  color:rgb(90, 17, 17);
}

.link_list a:hover {
  color: red;
}

.tech_list {
  padding-left: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.tech_list li {
  padding-left: 20px;
  font-size: 16px;
}

/*contact css*/
.form {
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}

.form label {
  display: block;
}

.form input, .form textarea {
  padding: 8px;
  width: 90%;
  border-radius: 5px;
}

button {
  background-color: rgb(206, 158, 158);
  color: black;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

#contact ul {
  padding-left: 15px;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

#contact a {
  text-decoration: none;
  color: rgb(90, 17, 17);
}

#contact a:hover {
  color:red;
}

/* footer css */
footer {
  background: rgb(206, 158, 158);
  color: black;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer p {
  font-size: 14px;
}

/*flex box css*/
.group{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
}

.item{
  flex: 1;
  margin: 0 20px 10px 20px;
}

.item img{
  width:75%;
}

.item2{
  flex: 2;
  margin:20px;
}

@media all and (min-width: 800px) {
  .group{
    flex-direction: row;
  }

  p {
    font-size: 20px;
  }

  .about_list li {
    font-size: 18px;
    padding-bottom: 15px;
  }
  .tech_heading {
    font-size: 20px;
  }

  #header h1 {
    font-size: 70px;
  }

  #header h2 {
    font-size: 45px;
  }

  #navbar a {
    font-size: 20px;
  }

  h3 {
    font-size: 35px;
  }

  #portfolio h4 {
    font-size: 25px;
  }

  .form {
    font-size: 18px;
  }
  .form input, .form textarea {
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  #contact a {
    font-size: 18px;
  }
}

